@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--bg-color: #E8E8E8;
	--primary-color: #4D41C0;
	--card-titles: #4A4A4A;
	--white: #FFF;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

html, body {
	background-color: var(--bg-color);
}

.topbarr {
	background-color: var(--primary-color);
	height: 60px;
	width: 100%;
	margin-bottom: 30px;
}

.topbarr h1 {
	font: normal 700 24px/33px "Open Sans", sans-serif;
	color: var(--white);
	margin: 14px auto 13px 33px;
}

.topbarr a, .topbarr a:hover {
	color: unset;
	text-decoration: none;
}

.topbarr #githublogo {
	margin-right: 10px;
}

.topbarr #authorlink {
	font: normal 400 12px/16px "Open Sans", sans-serif;
	color: var(--white);
	margin-right: 69px;
}

.main {
	padding: 0 69px 0 33px;
}

.main .movie-card {
	background-color: var(--white);
	position: relative;
	text-align: center;
	height: 349px;
	width: 260px;
	margin-top: 40px;
	border-radius: 8px 8px 8px 8px;
}

.main .movie-card img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}

.main .movie-card #rating {
}

.main .movie-card h2 {
	font: normal 700 14px/19px "Open Sans", sans-serif;
	color: var(--card-titles);
	padding: 9.66px 17px 0 15px;
	margin-bottom: 23px;
}

.main .movie-card a, .main .movie-card a:hover {
	background-color: var(--primary-color);
	font: normal 700 14px/19px "Open Sans", sans-serif;
	color: var(--white);
	position: absolute;
	left: 50%; transform: translate(-50%, 0);
	bottom: 20px;
	height: 40px;
	width: 180px;
	padding-bottom: 1px;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
}

.main-form .form-card {
	background-color: var(--white);
	position: relative;
	text-align: center;
	height: 620px;
	width: 480px;
	margin-top: 10px;
	border-radius: 8px 8px 8px 8px;
}

.main-form .form-card img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}

.main-form .form-card h2 {
	font: normal 700 13px/17.7px "Open Sans", sans-serif;
	color: var(--card-titles);
	padding: 20.83px 20px 0 19px;
	margin-bottom: 22px;
}

.main-form .form-card .form-btn, .main-form .form-card .form-btn:hover {
	background-color: var(--primary-color);
	font: normal 700 14px/19px "Open Sans", sans-serif;
	color: var(--white);
	position: absolute;
	left: 50%; transform: translate(-50%, 0);
	height: 40px;
	width: 180px;
	padding-bottom: 1px;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
}

.main-form .form-card button.form-btn {
	bottom: 88px;
}

.main-form .form-card a.form-btn {
	bottom: 28px;
}